# Python-specific
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.egg
*.egg-info/
dist/
build/
develop-eggs/
downloads/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
.installed.cfg
MANIFEST
*.manifest
*.spec
.Python

# Django-specific
db.sqlite3
db.sqlite3-journal
*.log
local_settings.py
settings_local.py
.env
*.pot

# Flask-specific
instance/
.webassets-cache

# Scrapy-specific
.scrapy

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
*.virtualenv

# OS-specific
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS Finder
.AppleDouble
.LSOverride

# macOS Spotlight
.Spotlight-V100
.Trashes

# macOS Icon Services
._*

# IDE-specific
.idea/
.vscode/
*.iml

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Unit test / coverage reports
.htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# pipenv
Pipfile
Pipfile.lock

# Poetry
poetry.lock
.cache/pypoetry/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Translation files
*.mo

# Sphinx documentation
docs/_build/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Static and media files
/staticfiles/
/media/

# Local files
*.ini
*.cfg

# PyBuilder
.pybuilder/
target/

# mkdocs documentation
/site

# Environments
.pdm.toml
.pdm-python
.pdm-build/
__pypackages__/
